<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
  <h1 class="text-5xl font-bold my-5">About US</h1>
  <p class="text-zinc-300">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates, a
    nesciunt nam error exercitationem, animi eum expedita, iure tenetur
    temporibus porro officia. Velit vero sequi quidem dolore vitae quo quod hic
    temporibus aspernatur expedita sed excepturi, aperiam inventore non ipsum
    magnam, dolorum, accusamus saepe perferendis ad molestiae debitis quisquam
    autem.
  </p>
</section>
